body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}
.form-edit {
    padding: 5px 15px 10px;
}
.form-group {
    margin: 0 0 10px;
}
.btn-group-top-right {
    position: absolute;
    top: 6px; right: 5px;
}
.alert {
    margin: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
}
.btn-cancel {
    float: right
}
#main {
    /*overflow-x: hidden;
    overflow-y: scroll;*/
    height: 455px;
    padding: 0;
    margin: 0;
    width: 100%;
}
    hr {
        margin: 0 0 10px;
    }
    
    h1 {
        font-size: 20px;
        padding: 10px 20px;
        margin: 0 0 10px;
        background: #18bc9c;
        border-bottom: 1px solid #0a4b3e;
        color: #fff;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    h3 {
        padding: 0; margin: 0;
    }
    ul#select  {
        list-style-type: none; margin: 0; padding: 0;
        width: 800px;
    }
    ul#select li {
        float: left;
        margin: 0 10px 10px 0;
    }
    ul#select a {
        background: #efefef;
        border: 1px solid #c3c3c3;
        color: #404040;
        display: block;
        width: 146px;
        padding: 4px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
    }
    ul#select a:hover {
        background: #ccc;
    }
        ul#select a img {
            display: block;
            height: 68px;
            width: 136px;
        }
        ul#select a span {
            display: block;
            padding: 2px 0 5px;
            text-align: center;
        }